.footer{
    color: aliceblue;
   text-decoration: none;
   padding: 10px;
   }
   .navfooterindex{
       display: flex;
       padding: 5px;
       gap: 40px;
       list-style-type: none;
      justify-content: center;
   }