.nav-item a {
    color:$secundcolor;
}
.h1index {
    color:$secundcolor;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.h1servivio{
    color:$secundcolor;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}


.h1equipos{
    color:$secundcolor;
    font-family: 'Roboto', sans-serif;
    text-align: center;

}

.h1contacto{
    color:$secundcolor;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}



.h1nosotros{
    color:$secundcolor;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
